.overview {
  margin-bottom: 15px;
  text-align: center;
}

h1 {
  font-size: 46px;
  margin: 0px auto 15px;
}

#description {
  font-size: 25px;
  list-style: none;
  text-transform: capitalize;
  margin: 0 auto;
}

.weather-temperature img {
  margin: 0px auto;
  display: block;
  width: 42%;
}

#numbers {
  margin: 0 20px 0 20px;
}

#big-temp {
  text-align: right;
  padding-right: 3px;
}

#c-f {
  text-align: left;
  top: 15px;
  padding-left: 3px;
}

#celsius-link,
#fahrenheit-link {
  color: blue;
}

#celsius-link,
#fahrenheit-link:hover {
  color: hsl(-510deg 39% 56%);
}

#temperature {
  font-size: 55px;
}
